header.top
    div.container
        a(href='http://coderbit.net/').top-logo Coderbit
        nav#navigation.nav-collapse
            ul
                li
                    a(href='http://coderbit.net/blog')
                        | Blog
                li
                    a(href='http://coderbit.net/portfolio.html')
                        | Portfolio
                li
                    a(href='http://coderbit.net/contact.html')
                        | Contacts