header.top
    div.container
        a(href='#').top-logo Coderbit
        nav#navigation.nav-collapse
            ul
                li
                    a(href='./blog')
                        i.fa.fa-coffee
                        | Blog
                li
                    a(href='./portfolio')
                        i.fa.fa-coffee
                        | Portfolio
                li
                    a(href='./contact')
                        i.fa.fa-car
                        | Contacts