doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui")
        meta(name='author' content='Coderbit')
        meta(name="description" content="Coderbit - front-end developer.")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        title CODERBIT - Portfolio
        link(href='css/main.css', rel='stylesheet')
    body
        header.top
            div.container
                a(href='http://coderbit.net/').top-logo Coderbit
                nav#navigation.nav-collapse
                    ul
                        li
                            a(href='http://coderbit.net/blog')
                                i.fa.fa-coffee
                                | Blog
                        li
                            a(href='http://coderbit.net/portfolio.html')
                                i.fa.fa-coffee
                                | Portfolio
                        li
                            a(href='http://coderbit.net/contact.html')
                                i.fa.fa-car
                                | Contacts