doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui")
        meta(name='author' content='Coderbit')
        meta(name="description" content="Coderbit - front-end developer.")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        title CODERBIT - Portfolio
        link(href='css/main.css', rel='stylesheet')
    body
        .enterAnimation
            include layout/header.jade

            include layout/footer.jade


        script(src="https://code.jquery.com/jquery-2.1.1.min.js")
        <script>window.jQuery || document.write('<script src="http://coderbit.net/js/jquery.min.js">\x3C/script>')</script>
        script(src='http://coderbit.net/js/main.js')